
* {
    font-family: 'Arial', serif;
    ;
}
img {
    max-width: 100%;
}
body {
    max-width: 100%;
    background-color:#0a1223;
}
div#scrollToTop {
    display: none;
}
header nav a {
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color:#5d5d5d;
}
header nav a:active {
    color:#54597d;
    font-weight: bold;
}
header nav a:hover {
    color:#54597d;
    font-weight: bold;
}
main {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 30px;
    max-width: 1100px;
    margin: auto;
}
main h1 {
    text-align: center;
    font-size: 50px;
    width: 100%;

}
main h2 {
    text-align: left;
    font-size: 42px;
}
main p {
    text-align: justify;
    line-height: 25px;
    text-indent: 25px;
    font-size: 21px;
}
main h1 {
    color:#ddd;
    padding: 100px 0;
}
main p {
    color:#5d5d5d;
}
header nav a {
    font-size: 20px;
}
@media (min-width:991px) {
    nav {
        text-align: right;
    }
    article {
        display: flex;
    }
    article div {
        flex: 1 50%;
    }
    article:nth-child(odd) {
        flex-flow: row-reverse;
    }
}

@media (min-width:576px) and (max-width:990px) {
    nav {
        text-align: center;
    }
    main {
        padding: 50px 105px;
    }
    article {
        padding: 35px;
    }
}

@media (min-width:576px) {
    main h2 {
        background: -webkit-linear-gradient(left, #eee, #333);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

@media (max-width:575px) {
    body {
        margin: 0;
        background-color:#fff;
        max-width: 100%;
    }
    header nav a {
        width: 100%;
        display: block;
        padding: 10px;
        font-size: 16px;
        text-decoration: none;
        color:#5d5d5d;
        border-bottom: 1px solid#ddd;
    }
    main {
        padding: 50px 30px;
    }
    main h1 {
        color:#000;
        padding: 50px 0;
    }
    main article section h2 {
        color:#484747;
    }
    div#scrollToTop {
        position: fixed;
        bottom: 15px;
        right: 30px;
        display: block;
        background-color:#5ebcff;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 3px 7px 17px -4px #0c0808;
    }
    div#scrollToTop a {
        color:#fff;
        text-decoration: none;
    }
}
