$contentBackground: #fff;
$fontFamily: Arial, sans-serif;
$fontColorPrimary: #777474;
$fontColorSecondary: #00BDD4;
$borderColor: #000;
$colorPostDescription: #00BCD4;
$colorPostHeading:#00BDD4;
$colorArticleBackground: #eee;