$contentBackground: #eee;
$fontFamily: Times New Roman, serif;
$fontColorPrimary: #757575;
$fontColorSecondary: #fc5830;
$borderColor: #cfd8dc;
$colorPostDescription:#cfd8dc;
$colorPostHeading:#617d8a;
$colorArticleBackground: #fff;